.main
  .main_top
    .main_top_title
      .main_top_title_upper
        title
      .main_top_title_under
        member
    .main_top_btn
      Edit
  .main_bottom
    .main_bottom_thread
      .main_bottom_thread_name
        nana
      .main_bottom_thread_date
        today
    .main_bottom_text
      message
    .main_bottom_new
      aa
      %label{class: "input-box__image"}
        %i.fa.fa-image
          %input{type: "file"}
