.main
  .main_top
    .main_top_title
      .main_top_title_upper
        title
      .main_top_title_under
        member
    .main_top_btn
      Edit
  .main_bottom
    .main_bottom_thread
      .main_bottom_thread_name
        nana
      .main_bottom_thread_date
        today
    .main_bottom_contents
      .main_bottom_contents_textbox
        .main_bottom_contents_textbox_text
          type a message
        .main_bottom_contents_textbox_img
          %label{class: "input-box__image"}
            %i.fa.fa-image
              %input{type: "file", class: "file"}
      .main_bottom_contents_send
        send

