.side
  .side_top
    .side_top_name
      = current_user.name
    .side_top_icon
      =link_to new_group_path, class: "edit_btn" do
        %i.fas.fa-edit
      =link_to edit_user_path(current_user), class: "set_btn" do
        %i.fas.fa-cog
  .side_bottom
    .side_bottom_title1
      test
    .side_bottom_text1
      まだメッセージはありません
