.contents
  .contents__left
    .contents__left_top
      test-user
    .contents__left_bottom
      .contents__left_bottom_title
        test-group
      .contents__left_bottom_text
        グループタイトル

