.side
  .side_top
    .side_top_name
      test-user
    .side_top_icon
      =link_to "#", class: "side_btn side_btn--new" do
        <i class="fas fa-edit" style="color:white"></i>
      =link_to "#", class: "side_btn side_btn--set" do
        <i class="fas fa-cog" style="color:white"></i>
  .side_bottom
    .side_bottom_title1
      test
    .side_bottom_text1
      まだメッセージはありません
    .side_bottom_title2
      test
    .side_bottom_text2
      まだメッセージはありません




