.side
  .side_top
    .side_top_name
      test-user
    .side_top_icon
      =link_to "#", class: "edit_btn" do
        %i.fas.fa-edit
      =link_to "#", class: "set_btn" do
        %i.fas.fa-cog
  .side_bottom
    .side_bottom_title1
      test
    .side_bottom_text1
      まだメッセージはありません
