!!!
%html
  %header
    %meta(charset="UTF-8")
  %header
    グループが作成されました
  %body
    .contents
      .content_left
        .left_top
          %P seo
        .left_bottom
          %p name
      .content_right
        .right_top
          %p title
        .right_bottom
          %p thread
    .contents_center
      %p ggggg
  %footer
    %p text