.header
  .header__logo
    グループを作成しました

.contents
  .content__left
    .content__left_top
      %P seo
    .content__left_bottom
      %p name
  .content__right
    .content__right_top
      %p title
    .content__right_bottom
      %p thread
.footer
  %p text