.header
  .header__logo
    グループを作成しました
  .header__left
    test-user
  .header__right
    title


.contents
  .contents__left
    .contents__left_title
      test-group
    .contents__left_text
      グループタイトル

  .contents__right
    .contents__right_top
      %p title
    .contents__right_bottom
      %p thread
.footer
  %p text