.header
  .header
    .header_left
    seo
    .header_right
      .header_top
      sample
      .header_bottom
      member

.contents
  .contents_left
    title
  .contents_right
    thread

.footer
  text